@font-face {
    font-family: "caps";
    src: url("../assets/fonts/caps.ttf") format("woff");
}

@font-face {
    font-family: "normal-bold";
    src: url("../assets/fonts/normal-bold.ttf") format("woff");
}

@keyframes arrow-down {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }
}

@media (min-width:1050px){
    main-title h1 br{display: inline;}
    
}

@media only screen and (max-width: 635px){
    nav{
        display: none;
    }

    .nav-item{
        display: inline;
        margin-right: 30px;
        padding: 0;
        text-align: center;
        line-height: 50px;
}        
main .main-title{
    font-size: 19px;
    font-weight: 100;
}
main .main-container-description {
    font-size: 12px;
    font-weight: 100;
}
.main-title a{
    border: 1px solid #FFFFFF;
    background: none;
    color: #fff;
    font-size: 14px;
}
}

@media only screen and (max-width: 700px){
    
    .button-primary-outline {
        
        bottom: +70px;
        
    }
}

@media only screen and (max-width: 500px){
    .footer-icons{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 160px;
        display: flex;
    }
    .footer{
        height: 700px;
    }
    .footer-icons a{
        order: 3;
    }
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: caps;
}

html, body {
    height: 100%;
}

a {
    color:#F59A63;
    text-decoration: none; /* no underline */
}

.text-black {
    color: black;
}

.btn {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
}

.button-primary {
    background-color: #BADC58;
    padding: 15px 47px;
    color: black;
    border-radius: 10px;
    margin-top: 40px;
}

.button-primary-outline {
    color: #BADC58;
    border: 1px solid #BADC58;
    border-radius: 10px;
    padding: 15px 47px;
    background-color: transparent;
    outline: none;
    transition: color, background-color linear 0.3s;
}

.button-primary-outline:hover {
    background-color: #BADC58;
    color: white;
}

.button-primary-outline.added {
    background-color: #ECF0F1;
    border-color: #ECF0F1;
    color: #BDC3C7;

}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 140px;
    height: 28px;
}

header img{
    margin-left: 20px;
}
.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    color: black;
    padding-left: 16px;
    font-size: 14px;
    font-family: caps;
    transition: color linear 0.3s;
}

.nav-item:hover {
    color: #BADC58;
}

.main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("../assets/img/main_pic.png");
    background-size: cover;
    background-position: center,center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


.basil {
    width: 20px;
    height: 20px;
}

/* main */

.main-title {
    font-size: 50px;
    font-weight: 300;
    font-family: caps;
    margin-bottom: 16px
}

.main-container-description {
    font-size: 14px;
    font-family: normal-bold;
    line-height: 20px;

}

.scroll-down-arrow-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
     
}

.scroll-content-container {
    cursor: pointer;
    
}

.more{
    color: #fff;
    position: relative;
    font-size: 12px;
    bottom: 100px;
    
    
}

.arrow {
    animation: arrow-down 1s ease-in-out infinite;
    position: relative;
    top: 60px;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.products-content {
    width: 1084px;
    height: 130%;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color:#fff;
    z-index: 5;
}



.products-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    background-repeat: no-repeat;
    
}

.backgroundadd{
    width:250px;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 1265px;
    bottom: -100px;
    
}


.products-header {
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top:615px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 32%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow ease-in .3s;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.card-image {
    width: 232px;
    height: 225px;
}

.card-description-title {
    text-align: center;
    font-size: 16px;
    font-family: caps;
}

.card-description-sub-title {
    font-size: 10px;
    font-family: normal-bold;
    text-align: center;
}

.button-container {
    margin: 24px 0;
    display: flex;
    justify-content: center;
}

footer {
    
    padding-top: 103px;
    padding-bottom: 24px;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer::before {
    content: url('../images/basil.png');
    position: absolute;
    left: -1150px;
    top: -389px;
    z-index: -1;
    width: 322px;
    height: 222px;
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #181818;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

.adress-box {
    width: 1084px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding: 22px;
    box-sizing: border-box;
}

address,
.adress-box a {
    font-style: normal;
    font-size: 14px;
    font-family: caps;
    color: #F59A63;
}

.map {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 31px;
}

.footer-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.social,
.academy{
    fill: white;
}
.social:hover,
.academy:hover{
    fill:#BADC58;
}



.social-div{
    width: 86.88px;
    display: flex;
    justify-content: space-between;
}

.social{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}






/*